<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="localhost_northwind_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=root; database=northwind;persist security info=true;CharSet=utf8;" />
        <add name="localhost_northwind_Connection 1" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=root; database=northwind;persist security info=true;CharSet=utf8;SslMode=none;" />
        <add name="localhost_nwind_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=root; database=nwind;persist security info=true;CharSet=utf8;" />
        <add name="localhost_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=root; database=nwind;persist security info=true;CharSet=utf8;SslMode=none;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
